.node{
  display: flex;
  align-items: center;
  justify-content: space-between;;
  width: 158px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid rgb(179, 179, 179);
  position: absolute;
  cursor: pointer;
  font-size: 12px;
}

.node-icon_left{
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;;
  padding: 2px 8px;
  border-right: 1px solid rgb(179, 179, 179);
  width: 32px;
  font-size: 14px;
}

.node-icon_right{
  display: flex;
  align-items: center;
  justify-content: center;;
  width: 32px;
  font-size: 14px;
}

.node-text{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.node-text span{
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon_delLink{
  background: url('../../images/deleteLink.png') no-repeat;
  width: 14px;
  height: 14px;
  background-position: 0 0;
}

.portMessageS{
  z-index: 999;
  border-radius: 4px;
  width: 200px;
  font-size: 12px;
  line-height: 24px;
  padding: 10px 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.co_bg_rightclick_dialog{
  background-color:rgba(35,36,39,.98);
  border:1px solid rgba(63,63,63,.98);
  box-shadow: 0px 0px 30px rgba(0,0,0,.15);
}

.bg_color_13{
  background:rgba(0,0,0,1);
  box-shadow: 0px 0px 6px 2px #000000;
}

.font_color_11{
  color:rgba(153,153,153,1);
}