

/* ------------------------ dialogs ----------------------------*/

/* ----------------------- drag/drop interactions -------------- */
.drop-hover {
    background-color: #FCCCCC !important;
}

/* ----------------------- node styles ------------------------- */

.flowchart-object {
    position: absolute;
    text-align: center;
    font-size: 12px;

    z-index: 10;
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    min-width: 0;
    min-height: 0;
}

.jtk-node svg {
    position: absolute;
    stroke: none;
    fill: #5184a0;
    left: 0;
    top: 0;
}

.flowchart-object text {

    stroke: none;
    fill: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.flowchart-object .node-action {
    display: none;
    position: absolute;
    top: 24px;
    cursor: pointer;
    color: white;
    z-index: 10000;
}

.flowchart-object .drag-start {
    cursor: pointer;
}

.flowchart-object .node-action:hover {
    color: #ff8000;
}

.flowchart-object .node-edit {
    left: 50%;
    margin-left: -20px;
}

.flowchart-object .node-delete {
    left: 50%;
    margin-left: 10px;
}

.flowchart-object.jtk-surface-selected-element .node-action {
    display: block;
}

.outer {
    fill:gray;
    opacity:0.3;
    cursor:pointer;
}

.flowchart-object:hover .outer {
    opacity:0.7;
}

.inner {
    cursor:move !important;
}

.connection-drop svg {
    fill:#CCC;
}

.connection-drop text {
    fill:black;
}

/* styles for drag + drop */

.jtk-surface.jtk-drag-drop-active {
    outline:6px dotted #4ea758 !important;
}

.jtk-surface.jtk-drag-drop-hover {
    outline: 6px solid #f7a45d !important;
}

svg.jtk-drag-drop-hover, svg.jtk-drag-drop-active {
    outline:none !important;
}

svg.jtk-drag-drop-active path {
    stroke:#4ea758;
    stroke-width:3px;
    stroke-dasharray:2 0 2 5;
}

svg.jtk-drag-drop-hover path {
    stroke:#f7a45d;
    stroke-width:4px;
    stroke-dasharray:0;
}